:root {
    --morado: #8300C4;
    --rosado: #D14081;
    --blanco: #FFFFFF
}
.header{
    background-color: var(--morado);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nube__imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 500px; 
    height: 150px; 
    background-image: url('../src/img/Nube.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nube__heading{
    color: var(--rosado);
    text-align: center;
    font-weight: bold;
}

.header__enlace{
    transition-property: transform;;
    transition-duration: 0.3s;
}

.header__enlace:hover{
    transform: scale(1.2);
}

.footer{
    background-color: var(--morado);
}

.footer__parrafo{
    padding: 10px 0;
    text-align: center;
    color: var(--blanco);
}
